.pigry-content{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 20px;
    background-color: #fff;
}

.header__logo{
    font-family: serif;
    color: #ef9df1;
}

.header__nav{
    display: flex;
}

.header__nav-setting{
    display: flex;
    text-decoration: none;
    border: 1px solid #dfdfdf;
    padding: 7px;
    border-radius: 3px;
    color: #000;
    background-color: #f5f5f5;
}

.header__nav-logout--submit{
    display: flex;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    margin-left: 10px;
    background-color: #f5f5f5;
}

