.pigry-content {
    background-color: #f5f5f5;
}

.update-content {
    width: 60vw;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.update-content__logo {
    margin-bottom: 20px;
}

.update__form-item {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.update__form-group {
    margin-bottom: 20px;
}

input,
textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.update__form-input--date,
.update__form-input--exercise_time,
.update__form-textarea {
    width: 100%;
}

.update__form-input--weight,
.update__form-input--calories {
    width: 95%;
}


.update__form-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.update__form-button--back {
    text-decoration: none;
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    color: #000;
    background-color: #dfdfdf;
}

.update__form-button--submit {
    width: 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(90deg, #a5a7e2, #fcaad9);
}