.pigry-content{
    background-color: #f5f5f5;
    position: relative;
}

.goal_setting-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vw;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.goal_setting-content__logo{
    text-align: center;
    margin-bottom: 20px;
}

.goal_setting__form-item{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.goal_setting__form-input{
    width: 90%;
    margin-right: 10px;
    border: 1px solid #dfdfdf;
}

.goal_setting__form-button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}

.goal_setting__form-button--back{
    text-decoration: none;
    width: 43%;
    border-radius: 10px;
    padding: 5px 10px;
    color: #000;
    background-color: #dfdfdf;
}

.goal_setting__form-button--submit{
    width: 43%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(90deg, #a5a7e2, #fcaad9);
}