.header {
    display: none;
}

.pigry-content {
    background-color: #ffd9d3;
    position: relative;
}

.register-content {
    width: 40vw;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-content__inner {
    text-align: center;
    margin-bottom: 20px;
}

.register-content__heading {
    font-family: serif;
    margin-bottom: 20px;
}

.register-content__logo {
    color: #ef9df1;
}

.register-content__ttl {
    font-weight: lighter;
}

.register__form {
    width: 90%;
    margin: 0px auto;
}


.register__form-label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.register__form-input {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.form-error {
    color: #ff8080;
}

.register__form-button {
    text-align: center;
}

.register__form-button--submit {
    margin-top: 20px;
    padding: 5px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #a5a7e2, #fcaad9);
}

.register__form-button--link {
    display: block;
    margin-top: 20px;
    color: #85c2ff;
}