.pigry-content{
    background-color: #f5f5f5;
}

.weight_logs-content{
    width: 80vw;
    margin: 60px auto;
}

.weight_logs-content__top{
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    padding: 20px;
}

.weight_logs-content__top--inner{
    width: calc(100%/3);
}

.weight_logs-content__data{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
}

.weight_logs__form{
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
}

.weight_logs__search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form--items-date{
    padding: 5px 10px;
    color: #dfdfdf;
}

.search-form--items-submit{
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #808080;
}

.weight_logs__link-modal{
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(90deg, #a5a7e2, #fcaad9);
}

.modal{
    width: 60vw;
    margin: 40px auto;
    z-index: 10;
    position: fixed;
    border: 1px solid #dfdfdf;
    inset: 0;
    background-color: #fff;
}

.modal__inner{
    padding: 40px 20px;
}

.modal__logo{
    margin-bottom: 40px;
}

.modal__form-group{
    margin-bottom: 20px;
}

.modal__form-label--required{
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    background-color: #ff8080;
}

input,
textarea{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.modal__form-input--date,
.modal__form-input--exercise_time,
.modal__form-textarea{
    width: 100%;
}

.modal__form-input--weight,
.modal__form-input--calories{
    width: 95%;
}

.modal__form-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal__form-button--back {
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    border: none;
    color: #000;
    background-color: #dfdfdf;
}

.modal__form-button--submit {
    width: 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(90deg, #a5a7e2, #fcaad9);
}

.weight_logs-table{
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-collapse: collapse;
}

.weight_logs-table__header{
    width: 100%;
    border-bottom: 2px solid #fcaad9;
    padding-bottom: 10px;
    text-align: left;
}

.weight_logs-table__data{
    margin-bottom: 10px;
}

.weight_logs-table__header--date,
.weight_logs-table__data--date{
    width: 15%;
    padding-left: 20px;
}

.weight_logs-table__header--weight,
.weight_logs-table__form-detail{
    width: 6%;
}

.weight_logs-table__header--calories,
.weight_logs-table__header--exercise-time{
    width: 10%;
}

.form-update--img{
    width: 30%;
    border: none;
}

.weight_logs-table__pagination{
    text-align: center;
    margin-top: 20px;
}

